@page
@using _01_Framework.Application
@using _01_Framework.Infrastructure
@model ServiceHost.Pages.CheckoutModel
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "تایید سبد خرید و پرداخت";
}
@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <div class="alert alert-danger">@Model.Message <a class="text-primary text-decoration-underline" asp-page="Wallet">مشاهده موجودی</a></div>
}
<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">تایید سبد خرید و پرداخت</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a asp-page="./Index">صفحه اصلی</a>
                            </li>
                            <li>
                                <a asp-page="./Cart">سبد خرید</a>
                            </li>
                            <li class="active">تایید سبد خرید و پرداخت</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <form method="post">
                            <div class="cart-table table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="pro-thumbnail">جلسه</th>
                                            <th class="pro-thumbnail">روز کلاس</th>
                                            <th class="pro-thumbnail">ساعت کلاس</th>
                                            <th class="pro-thumbnail">استاد</th>
                                            <th class="pro-thumbnail">درس</th>
                                            <th class="pro-thumbnail">قیمت</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Cart.Items)
                                        {
                                            <tr>
                                                <td class="pro-title">
                                                    <a>
                                                        @item.SessionNumber
                                                    </a>
                                                </td>
                                                <td class="pro-title">
                                                    <a>
                                                        @Days.GetName(item.ClassDay)
                                                    </a>
                                                </td>
                                                <td class="pro-title">
                                                    <a>
                                                        @item.ClassStartTime تا @item.ClassEndTime
                                                    </a>
                                                </td>
                                                <td class="pro-title">
                                                    <a>
                                                        @item.ProfessorFullName
                                                    </a>
                                                </td>
                                                <td class="pro-title">
                                                    <a>
                                                        @item.CourseName
                                                    </a>
                                                </td>
                                                <td class="pro-price">
                                                    <span>@item.SessionPrice.ToMoney() تومان</span>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-12 d-flex">
                                    <div class="cart-summary">
                                        <div class="cart-summary-wrap">
                                            <h4>خلاصه وضعیت فاکتور</h4>
                                            <p>جمع کل<span>@Model.Cart.TotalAmount.ToMoney() تومان</span></p>
                                            <p>مالیات<span>@Model.Cart.Tax.ToMoney() تومان</span></p>
                                            <p>مبلغ نهایی <span>@Model.Cart.FinalAmount.ToMoney() تومان</span></p>
                                            
                                        </div>
                                        <div class="cart-summary-button">
                                            <button class="checkout-btn" asp-page-handler="Pay">پرداخت مستقیم با درگاه اینترنتی</button>
                                            <button class="checkout-btn" asp-page-handler="PayWithWallet">پرداخت از طریق کیف پول</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
