@page "{sessionId}"
@using _01_Framework.Application
@using _01_Framework.Infrastructure
@inject IAuthHelper AuthHelper
@model ServiceHost.Pages.SessionModel
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = $"جلسه {Model.Session.Number} کلاس {Days.GetName(Model.Class.Day)} {Model.Class.StartTime} تا {Model.Class.EndTime} استاد {Model.Class.ProfessorFullName} درس {Model.Course.Name}";
}
@section Css
{
    <style>
        .r1_iframe_embed {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: auto;
            padding-top: 56.25%;
        }

            .r1_iframe_embed iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 0;
            }
    </style>
}

@if (!Model.IsPaid && AuthHelper.CurrentAccountRole() == Roles.Student)
{
    <div class="row m-5" id="ProductCategoriesDiv">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center mb-4">
                    <h3 class="panel-title">جلسه @Model.Session.Number کلاس @Days.GetName(Model.Class.Day) @Model.Class.StartTime تا @Model.Class.EndTime استاد @Model.Class.ProfessorFullName درس @Model.Course.Name</h3>
                    <a class="btn btn-primary btn-lg btn-back" asp-page="/Sessions" asp-route-classId="@Model.Session.ClassId">بازگشت</a>

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>جلسه</th>
                                        <th>عنوان جلسه</th>
                                        <th>فیلم</th>
                                        <th>جزوه</th>
                                        <th>تصاویر</th>
                                        <th>توضیحات</th>
                                        <th>قیمت</th>
                                        <th>عملیات</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>@Model.Session.Number</td>
                                        <td>@Model.Session.Title</td>
                                        <td><i class="fa fa-lock text-success fa-2x"></i></td>
                                        <td><i class="fa fa-lock text-success fa-2x"></i></td>
                                        <td><i class="fa fa-lock text-success fa-2x"></i></td>
                                        <td><i class="fa fa-lock text-success fa-2x"></i></td>
                                        <td>@Model.Course.Price.ToMoney()</td>
                                        <td>
                                            <a class="btn btn-success text-white" onclick="addToCart('@Model.Session.Id', '@Model.Course.Price', '@Model.Session.Number','@Model.Class.Id' , '@Model.Class.Day','@Model.Class.StartTime','@Model.Class.EndTime','@Model.Class.ProfessorId','@Model.Class.ProfessorFullName','@Model.Course.Name')">
                                                <i class="ion-bag"></i> افزودن به سبد خرید
                                            </a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="panel-heading text-center mb-4">
        <h3 class="panel-title">جلسه @Model.Session.Number کلاس @Days.GetName(Model.Class.Day) @Model.Class.StartTime تا @Model.Class.EndTime استاد @Model.Class.ProfessorFullName درس @Model.Course.Name</h3>
        <a class="btn btn-primary btn-lg btn-back" asp-page="/Sessions" asp-route-classId="@Model.Session.ClassId">بازگشت</a>

    </div>
    <div class="page-content-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-wrapper">
                        <div class="page-content-wrapper">
                            <div class="single-product-main-content-area section-space" style="direction: ltr;">
                                <div class="row" style="display: flex; flex-direction: row-reverse">
                                    <div class="col-lg-6">
                                        <p>تصاویر جلسه </p>
                                        <div class="product-details-slider-area">
                                            <div class="big-image-wrapper">
                                                <div class="product-details-big-image-slider-wrapper product-details-big-image-slider-wrapper--bottom-space ht-slick-slider"
                                                     data-slick-setting='{
                                                            "slidesToShow": 1,
                                                            "slidesToScroll": 1,
                                                            "arrows": false,
                                                            "autoplay": false,
                                                            "autoplaySpeed": 5000,
                                                            "fade": true,
                                                            "speed": 500,
                                                            "prevArrow": {"buttonClass": "slick-prev", "iconClass": "fa fa-angle-left" },
                                                            "nextArrow": {"buttonClass": "slick-next", "iconClass": "fa fa-angle-right" }
                                                        }' data-slick-responsive='[
                                                            {"breakpoint":1501, "settings": {"slidesToShow": 1, "arrows": false} },
                                                            {"breakpoint":1199, "settings": {"slidesToShow": 1, "arrows": false} },
                                                            {"breakpoint":991, "settings": {"slidesToShow": 1, "arrows": false, "slidesToScroll": 1} },
                                                            {"breakpoint":767, "settings": {"slidesToShow": 1, "arrows": false, "slidesToScroll": 1} },
                                                            {"breakpoint":575, "settings": {"slidesToShow": 1, "arrows": false, "slidesToScroll": 1} },
                                                            {"breakpoint":479, "settings": {"slidesToShow": 1, "arrows": false, "slidesToScroll": 1} }
                                                        ]'>

                                                    @foreach (var picture in Model.Session.SessionPictures)
                                                    {
                                                        <div class="single-image">
                                                            <img src="@picture.Picture" class="img-fluid">
                                                        </div>
                                                    }
                                                </div>
                                            </div>


                                            <div class="product-details-small-image-slider-wrapper product-details-small-image-slider-wrapper--horizontal-space ht-slick-slider"
                                                 data-slick-setting='{
                                                            "slidesToShow": 4,
                                                            "slidesToScroll": 1,
                                                            "arrows": true,
                                                            "autoplay": false,
                                                            "autoplaySpeed": 5000,
                                                            "speed": 500,
                                                            "asNavFor": ".product-details-big-image-slider-wrapper",
                                                            "focusOnSelect": true,
                                                            "centerMode": false,
                                                            "prevArrow": {"buttonClass": "slick-prev", "iconClass": "fa fa-angle-left" },
                                                            "nextArrow": {"buttonClass": "slick-next", "iconClass": "fa fa-angle-right" }
                                                        }' data-slick-responsive='[
                                                            {"breakpoint":1501, "settings": {"slidesToShow": 3, "arrows": false} },
                                                            {"breakpoint":1199, "settings": {"slidesToShow": 3, "arrows": false} },
                                                            {"breakpoint":991, "settings": {"slidesToShow": 5, "arrows": false, "slidesToScroll": 1} },
                                                            {"breakpoint":767, "settings": {"slidesToShow": 3, "arrows": false, "slidesToScroll": 1} },
                                                            {"breakpoint":575, "settings": {"slidesToShow": 3, "arrows": false, "slidesToScroll": 1} },
                                                            {"breakpoint":479, "settings": {"slidesToShow": 2, "arrows": false, "slidesToScroll": 1} }
                                                        ]'>

                                                @foreach (var picture in Model.Session.SessionPictures)
                                                {
                                                    <div class="single-image">
                                                        <img src="@picture.Picture" class="img-fluid">
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="single-product-content-description">
                                            <h2 class="product-title">عنوان جلسه: @Model.Session.Title</h2>
                                            @if (Model.Session.Video == "" || !Model.Session.Video.StartsWith("https://player"))
                                            {
                                                <div>
                                                    <span class="text-success">فیلمی آپلود نشده است.</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="r1_iframe_embed">
                                                    <iframe src="@Model.Session.Video"
                                                            style="border: 0 #ffffff none"
                                                            frameborder="0"
                                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                            allowfullscreen="true"
                                                            webkitallowfullscreen="true"
                                                            mozallowfullscreen="true"></iframe>
                                                </div>

                                            }

                                            <br />
                                            @if (Model.Session.Booklet == "" || !Model.Session.Booklet.StartsWith("https://behamooz"))
                                            {
                                                <div>
                                                    <span class="text-success">جزوه‌ای آپلود نشده است.</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div>
                                                    <a href="@Model.Session.Booklet"><span class="btn btn-success">مشاهده و دانلود جزوه</span></a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-description-review-area">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="tab-slider-wrapper product-description-review-container  section-space--inner">
                                            <nav>
                                                <div class="nav nav-tabs justify-content-center" id="nav-tab"
                                                     role="tablist">
                                                    <a class="nav-item nav-link active" id="description-tab"
                                                       data-toggle="tab" href="#product-description" role="tab"
                                                       aria-selected="true">توضیحات</a>
                                                </div>
                                            </nav>
                                            <div class="tab-content" id="nav-tabContent">
                                                <div class="tab-pane fade show active" id="product-description"
                                                     role="tabpanel" aria-labelledby="description-tab">
                                                    <div class="product-description">
                                                        @Model.Session.Description
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    <script>
        document.addEventListener("scroll", function (e) {
            e.stopImmediatePropagation();
        }, true);
    </script>
}
