@page "{sessionId}"
@model ServiceHost.Areas.Administration.Pages.SessionPicture.CreateModel
@{
}

@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <div class="alert alert-danger">@Model.Message</div>
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">تعریف عکس جدید برای جلسه @Model.Session.Number کلاس @Model.Class.Code درس @Model.Class.Course</h3>
            </div>
            <div class="panel-body">
                <form method="post"
                      enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Command.Picture" class="control-label">عکس</label>
                                <input type="text" class="form-control" asp-for="Command.Picture" />
                                <span asp-validation-for="Command.Picture" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" asp-for="Command.SessionId" value="@Model.Session.Id"/>
                    <button type="submit" class="btn btn-info waves-effect waves-light">ایجاد</button>
                    <a asp-page="./Index" asp-route-sessionId="@Model.Session.Id" class="btn btn-default waves-effect">بازگشت</a>
                </form>
            </div>
        </div>
    </div>
</div>