@page "{classId}"
@model ServiceHost.Areas.Administration.Pages.Session.CreateModel
@{
    ViewBag.Title = "تعریف جلسه جدید";
    Layout = "Shared/_AdminLayout";
}
@section Css
{
    .readonly-input {
    background-color: #e9ecef;
    pointer-events: none; 
    user-select: none;
    color: #6c757d; 
    }

    .readonly-input-file {
    background-color: #e9ecef;
    pointer-events: none; 
    user-select: none;
    color: #6c757d;
    cursor: not-allowed;
    }

    .readonly-button {
    background-color: #6c757d !important; 
    cursor: not-allowed !important;
    pointer-events: none !important;
    opacity: 0.65;
    color: #fff !important;
    }

}

<div class="alert alert-warning">حداکثر حجم فیلم باید یک گیگابایت باشد.</div>
<div class="alert alert-warning">حداکثر حجم جزوه باید 100 مگابایت باشد.</div>
<div class="alert alert-warning">برای آپلود فایل باید vpn خود را خاموش کنید.</div>
<div class="alert alert-warning">لطفا تا پایان اپلود صبر کنید. در صورت موفقیت به صفحه قبل ارجاع داده خواهید شد</div>


@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <div class="alert alert-danger">@Model.Message</div>
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">تعریف جلسه جدید برای کلاس @Model.Class.Code</h3>
            </div>
            <div class="panel-body">
                <form method="post"
                      enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Command.Number" class="control-label">شماره جلسه</label>
                                <input type="number" min="1" max="16" class="form-control" asp-for="Command.Number">
                                <span asp-validation-for="Command.Number" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Command.Title" class="control-label">عنوان جلسه</label>
                                <input type="text" class="form-control" asp-for="Command.Title" />
                                <span asp-validation-for="Command.Title" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Command.Video" class="control-label">فیلم جلسه</label>
                                <input id="inputVideo" type="file" class="form-control" asp-for="Command.Video" accept="video/mp4,video/x-m4v,video/*" />
                                <span asp-validation-for="Command.Video" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Command.Booklet" class="control-label">جزوه جلسه</label>
                                <input id="inputBooklet" type="file" class="form-control" asp-for="Command.Booklet" accept="application/pdf,.pdf" />
                                <span asp-validation-for="Command.Booklet" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Command.Description" class="control-label">توضیحات</label>
                                <textarea rows="10" maxlength="5000" class="form-control" asp-for="Command.Description"></textarea>
                                <span asp-validation-for="Command.Description" class="error"></span>
                            </div>
                        </div>
                    </div>

                    <div id="progress-video" style="display: none;">
                        <p>در حال آپلود فیلم: <span id="video-percent">0</span>%</p>
                        <div id="video-progress-bar" style="width: 0%; height: 20px; background-color: green;"></div>
                    </div>

                    <div id="progress-booklet" style="display: none;">
                        <p>در حال آپلود جزوه: <span id="booklet-percent">0</span>%</p>
                        <div id="booklet-progress-bar" style="width: 0%; height: 20px; background-color: blue;"></div>
                    </div>

                    <input type="hidden" value="@Model.Class.Id" asp-for="Command.ClassId" />

                    <button type="submit" id="uploadButton" class="btn btn-info waves-effect waves-light">تعریف</button>
                    <a asp-page="./Index" id="backButton" asp-route-classId="@Model.Class.Id" class="btn btn-default waves-effect">بازگشت</a>
                    <a style="display: none;" id="cancelButton" asp-page-handler="Cancel" asp-route-classId="@Model.Class.Id" class="btn btn-danger">لغو فرایند آپلود</a>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        const inputVideo = document.getElementById('inputVideo');
        const maxSize = 1073741824;

        inputVideo.addEventListener('change',
            function() {
                const file = this.files[0];
                if (file) {
                    if (file.size > maxSize) {
                        alert('حجم فایل ویدیو نباید بیشتر از 1 گیگابایت باشد.');
                        this.value = '';
                    }
                }
            });

        const inputBooklet = document.getElementById('inputBooklet');
        const maxSize = 104857600;

        inputBooklet.addEventListener('change',
            function() {
                const file = this.files[0];
                if (file) {
                    if (file.size > maxSize) {
                        alert('حجم فایل جزوه نباید بیشتر از 100 مگابایت باشد.');
                        this.value = '';
                    }
                }
            });
    </script>

    <script src="~/lib/signalr/signalr.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/uploadHub")
            .build();

        connection.on("ReceiveVideoProgress",
            function(percent) {
                document.getElementById("video-percent").innerText = percent;
                document.getElementById("video-progress-bar").style.width = percent + "%";
            });

        connection.on("ReceiveBookletProgress",
            function(percent) {
                document.getElementById("booklet-percent").innerText = percent;
                document.getElementById("booklet-progress-bar").style.width = percent + "%";
            });

        connection.start().catch(function(err) {
            return console.error(err.toString());
        });
    </script>

    <script>

        function makeFileInputReadOnly(input) {
            input.classList.add('readonly-input-file');

            input.addEventListener('click', function(e) {
                e.preventDefault();
            });

            input.addEventListener('keydown', function(e) {
                e.preventDefault();
            });
        }
        document.getElementById("uploadButton").onclick = function(event) {
            const videoInput = document.getElementById("inputVideo").files.length > 0;
            const bookletInput = document.getElementById("inputBooklet").files.length > 0;
            const uploadButton = document.getElementById("uploadButton");

            if (uploadButton.classList.contains('readonly-button')) {
                event.preventDefault();
                return false;
            }

            uploadButton.classList.add('readonly-button');
            document.getElementById("backButton").style.display = "none";



            if (videoInput && bookletInput) {
                document.getElementById("progress-video").style.display = "block";
                document.getElementById("progress-booklet").style.display = "block";
            } else if (videoInput) {
                document.getElementById("progress-video").style.display = "block";
                document.getElementById("progress-booklet").style.display = "none";
            } else if (bookletInput) {
                document.getElementById("progress-booklet").style.display = "block";
                document.getElementById("progress-video").style.display = "none";
            } else {
                document.getElementById("progress-video").style.display = "none";
                document.getElementById("progress-booklet").style.display = "none";
            }


            if (videoInput || bookletInput) {
                document.getElementById("cancelButton").style.display = "inline";
            }
            makeFileInputReadOnly(inputVideo);
            makeFileInputReadOnly(inputBooklet);
            const textInputs = document.querySelectorAll('input[type="text"], input[type="number"], textarea');
            textInputs.forEach(el => {
                el.readOnly = true;
                el.classList.add('readonly-input');
            });


            
        }
    </script>
}
